body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: url('../img/fon.png');
            background-size: cover;
        }
        .container {
            text-align: center;
            background: #0000E6;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .btn {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #0000BA;
            border-radius: 5px;
            text-decoration: none;
        }
        .btn:hover {
            border-color: #000096; /* Синяя рамка при фокусе */
            box-shadow: 0 0 20px rgba(246,177,246, 1); /* Тень при фокусе */
            background: #0000E6;
            transform: scale(1.01);
        }