 /* Add your custom styles here */
body {
    background: url('../img/like_fon.png');
    background-size: cover;
}

.btn, btn-submit{
    width: 200px;
    padding: 10px;
    background: #2b2b2b;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border-color: #3c3c3c;
    background: #2b2b2b;
}

.reg-container {
    background: #222222;
    padding: 30px 40px;
    border: 1px solid #444444;
    border-radius: 5px;
    width: 450px;
    color: white;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 510px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}




button:hover {
    border-color: #3c3c3c;
    background: black; /* Градиентный фон */
    color: white;
}



.form-control {
    width: 120px; /* Ширина поля ввода */
    padding: 5px;
    border: 2px solid #2575fc; /* Синяя рамка */
    border-radius: 0px; /* Закругленные углы */
    font-size: 16px;
    transition: border-color 0.5s ease, box-shadow 0.5s ease; /* Плавные переходы */
    text-align: center;
    border-color: #3c3c3c;
    background: black;
    margin: 0px 175px;
    color: white;
    text-color: while;
}
.form-control:hover {
    border-color: #3c3c3c;
    box-shadow: 0 0 20px rgba(246,177,246, 1); /* Тень при фокусе */
    background: #5555FF; /* Градиентный фон */
    transform: scale(1.01);
}
.form-control::placeholder {
    color: white; /* Синий цвет плейсхолдера */
    font-size: 14px;
}

.left_box {
    background: #212121;
    padding: 30px 40px;
    border: 1px solid #444444; /* Добавлено */
    border-radius: 5px;
    width: 150px;
    color: white;
    min-height: 400px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-top: 130px;
}

.range-container {
  display: flex;
  align-items: center; /* выравнивание по вертикали */
  gap: 10px; /* расстояние между элементами */
}

.filter-container {
  margin-bottom: 20px; /* расстояние между блоками */
}

.text-muted {
    position: absolute;
    top: -5px;
    left: 10px;
}

.reg-container h3 {
    position: absolute;
    top: 20px;
    left: 10px;
    padding: 100 px;
}

.just-box {
    background: #212121;
    border: 1px solid #444444;
    border-radius: 5px;
    color: white;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4px 8px;
    width: auto;
    line-height: 1.2;
    max-width: 400px;
    gap: 5px;
}
.just-box h4 {
    margin: 0;
    line-height: 1;
    font-size: 1rem;
    max-width: 400px;
}

input[type="text"],
input[type="number"],
select,
textarea {
    background-color: #000;     /* Чёрный фон */
    color: white;               /* Белый текст */
    border: 1px solid #555;     /* Сероватая рамка */
    border-radius: 5px;
    padding: 6px 10px;
    margin: 5px 0;
    width: auto;                /* Чтобы красиво растягивались */
    box-sizing: border-box;    /* Чтобы padding не ломал ширину */
    width: auto;
    max-width: 400px;
        text-align: center;
}

.reg-containered {
    background: #222222;
    padding: 30px 40px;
    border: 1px solid #444444;
    border-radius: 5px;
    width: 450px;
    color: white;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.reg-containerqr {
    background: #222222;
    padding: 30px 40px;
    border: 1px solid #444444;
    border-radius: 5px;
    width: 450px;
    color: white;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.invisible-box{
    display: none;
}

.btn_circle {
    width: 50px;          /* Ширина и высота должны быть равны */
    height: 50px;         /* Для идеального круга */
    padding: 0;           /* Убираем внутренние отступы */
    border-radius: 50%;    /* Ключевое свойство для круга */
    background: #2b2b2b;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #3c3c3c;
    display: flex;
    align-items: center;
    justify-content: center;
}