<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение email</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user/css/verify_email.css' %}">
</head>
<body>
    <div class="container">
        <h1>Подтверждение email</h1>
        <div class="message">
            На ваш email отправлено письмо с инструкциями для подтверждения. Пожалуйста, проверьте вашу почту.
        </div>
        <p>Если вы не получили письмо, проверьте папку "Спам".</p>
    </div>
</body>
</html>