{% extends 'registration/base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<div class="reg-container" style="width: 500px; margin: 0 auto;">
    <h2 class="card-title">Смена пароля</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="old_password">Текущий пароль:</label>
            <input type="password" name="old_password" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="new_password1">Новый пароль:</label>
            <input type="password" name="new_password1" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="new_password2">Подтвердите новый пароль:</label>
            <input type="password" name="new_password2" class="form-control" required>
        </div>

        <div class="form-group" style="margin-top: 20px;">
            <button type="submit" class="btn">Сохранить</button>
        </div>
    </form>
</div>
{% endblock %}