{% extends 'registration/base.html' %}
{% block title %}Профиль - YourApp{% endblock %}

{% block content %}
<div class="reg-container">
    <!-- Заголовок и кнопка редактирования -->

    <h2 class="card-title">Мой профиль</h2>

    <!-- имэйл в верхнем левом углу -->
    <p class="text-muted">{{ request.user.email }}</p>

    <!-- имя -->
     <div class="just-box">
        <h4>{{ request.user.name }}</h4>
    </div>
    <div class="just-box">
        <h4><strong>Дата регистрации:</strong> {{ request.user.date_joined|date:"d.m.Y" }}</h4>
    </div>

    <div class="just-box">
        <!-- Блок с аватаром -->
        {% if request.user.avatar %}
            <img src="{{ request.user.avatar.url }}" class="img-fluid rounded-circle mb-3" style="max-width: 400px; max-height: 400px;">
        {% else %}
            <i class="fas fa-user-circle fa-5x mb-3 text-secondary"></i>
        {% endif %}
    </div>


    <!-- Основная информация -->
    <h5 class="mb-0">Основная информация</h5>
    <div class="just-box">
        <div class="just-box">
            <h4><strong>Пол:</strong> {{ request.user.get_gender_display }}</h4>
        </div>
        <div class="just-box">
            <h4><strong>Дата рождения:</strong> {{ request.user.birth_date|date:"d.m.Y" }}</h4>
        </div>
        <div class="just-box">
            <h4><strong>Город:</strong> {{ request.user.city|default:"Не указан" }}</h4>
        </div>
        <div class="just-box">
            <h4><strong>Ищу:</strong> {{ request.user.get_seeking_display }}</h4>
        </div>

        <!-- О себе -->
        <div class="just-box">
            <h5 class="mb-0">О себе</h5>
            <p>{{ request.user.bio|default:"Нечего сказать, я скучный" }}</p>
        </div>

        <!-- Хобби и интересы -->
        <div class="just-box">
            {% if request.user.hobbies %}
            <h5 class="mb-0">Хобби и интересы</h5>
            <p>{{ request.user.hobbies }}</p>
            {% endif %}
        </div>

        </div>


    <form action="{% url 'profile_edit' %}" method="get">
            {% csrf_token %}
            <button type="submit" class="btn">Редактировать</button>
    </form>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-outline-secondary">Выйти</button>
    </form>

</div>
{% endblock %}