{% extends 'registration/base.html' %}
{% block title %}Profile - YourApp {% endblock %}

{% block content %}
<div class="reg-containerqr">

    <!-- Карточка анкеты -->
    <h4>{{ profile.name }}, {{ profile.age }}, {{ profile.city|default:"Город не указан" }}</h4>
    {% if profile.avatar %}
    <img src="{{ profile.avatar.url }}" class="card-img-top profile-photo" style="max-width: 400px; max-height: 800px;">
    {% else %}
    <i class="fas fa-user-circle fa-5x"></i>
    {% endif %}

    <strong>О себе:</strong>
    <p>{{ profile.bio|default:"Пользователь не добавил информацию" }}</p>

    {% if profile.hobbies %}
    <strong>Интересы:</strong>
    <p>{{ profile.hobbies }}</p>
    {% endif %}

    <!-- Кнопки действий -->
    <div class="range-container">
        <form action="{% url 'process_profile' profile.id 'skip' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn_circle btn-outline-secondary btn-lg">
                <i class="fas fa-times"></i> ✋
            </button>
        </form>

        <form action="{% url 'process_profile' profile.id 'like' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn_circle btn-outline-danger btn-lg">
                <i class="fas fa-heart"></i> 💝
            </button>
        </form>
    </div>
</div>

{% endblock %}